PORT=8000
MONGODB_URI=mongodb+srv://kowshik076_db_user:PASSWORD@backendcluster.crpchej.mongodb.net/?retryWrites=true&w=majority&appName=backendcluster
CORS_ORIGIN=*

#JWT:--
ACCESS_TOKEN_SECRET= try you one
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET= try_you_one
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=